*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url('./Image/body.jpg');
	background-size: cover;
}
.div-img-begin{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
button{
	width: 150px;
	height: 30px;
	background-color: #d2691e;
	margin-bottom: 30px;
	text-align: center;
	border: none;
	border: 1px solid #DCDCDC;
	border-radius: 8px;
	outline: none;
	margin-top: 20px;
}
.div-login-register{
	border-width:2px;
	border-style:solid;
	border-color:black;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}
.div-login-register input{
	width: 200px;
	height: 30px;
	border-radius: 8px;
	background-color: #d6fabf;
	outline: none;
	margin-bottom: 20px;
}
.div-login-register h1{
	color: #ffa500;
	margin-bottom: 30px;
}
.div-main-header{
	display: flex;
	justify-content: space-between;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10px;
	background-color: gray;
	align-items: center;
	border-radius: 10px;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
}
.div-main-header input{
	width: 300px;
	height: 25px;
}
.div-main-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 25%;
	padding-right: 25%;
	background-color: #ffffff;
	height: 50px;
}
.div-main-list a{
	text-decoration: none;
	color: black;
	font-size: 25px;
}
.div-main-list button{
	border-radius: 8px;
	background-color: aqua;
	text-align: center;
	width: 100px;
}
.div-main-list img{
	background-color: #f00;
}
.div-main-list a:hover{
	color: #f00;
}
.image-logo{
	width: 100%;
	height: 300px;
}
.div-main-content{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 100px;
    padding-left: 100px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #f1f1f1;
	border-width:15px;  
    border-style:initial;
}
.div-main-content img{
	width: 300px;
	height: 200px;
}
.div-main-content-list{
	margin-top: 20px;
	background-color: #a9a9a9;
 	width:300px;
  	box-shadow:20px 20px 50px grey; 
}
.div-main-content-list p{
	float: right;
	color: #f00;
	font-size: 20px;
	margin-bottom: 10px;
}
.div-main-content-list button{
	margin-left: 25%;
	margin-bottom: 10px;
}
.div-main-footer{
	width: 100%;
	height: 300px;
}
.div-main-footer img{
	width: 100%;
	height: 300px;
	padding-top: 10px;
}
