*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #dcdcdc;
}
.div-img-begin{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
button{
	width: 100px;
	height: 30px;
	background-color: #d2691e;
	margin-bottom: 30px;
	text-align: center;
	border: none;
	border: 1px solid #DCDCDC;
	border-radius: 8px;
	outline: none;
}
.div-login-register{
	border-width:2px;
	border-style:solid;
	border-color:black;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}
.div-login-register input{
	width: 200px;
	height: 30px;
	border-radius: 8px;
	background-color: #d6fabf;
	outline: none;
	margin-bottom: 20px;
}
.div-login-register h1{
	color: #f00;
	margin-bottom: 30px;

}
.div-main{
	
}
.div-main-header{
	display: flex;
	justify-content: space-between;
}
.div-main-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 30%;
	margin-right: 30%;
}
.image-logo{
	height: 220px;
}
