*{
			margin: 0px;
			padding: 0px;
		}
		body{
			background-color: #dcdcdc;
		}
		img{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
		}
		button{
			width: 100px;
			height: 30px;
			background-color: #d2691e;
			margin-bottom: 30px;
			text-align: center;
			border: none;
			border: 1px solid #DCDCDC;
			border-radius: 8px;
			outline: none;
		}